<!DOCTYPE html>
<html>
	<head>
		<!-- Latest BOOTSTRAP compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	</head>

<body>

<h1><center><%= food.name %> has been added to the list! Click <a href="/food">here</a> to see list or go <a href="/">back</a>.</center></h1> 


	<!-- Latest version of jQuery-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Latest BOOTSTRAP compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>

</html>