<!DOCTYPE html>
<html>
	<head>
		<!-- Latest BOOTSTRAP compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	</head>

	<body style="background-image: url(assets/images/fruit.jpg);">

	<div class="container-fluid">

	
	<br><br>
	<div class="row">

	<div class="col-sm-4"></div>

	<div class="col-sm-4" style="background-color: white; padding: 15px; border-radius: 10px;">


	<form action="/food" method="post">
  <div class="form-group">
    <label for="inputName">Name</label>
    <input type="text" class="form-control" id="inputName" placeholder="Name" name="name" required>
  </div>

  <div class="form-group">
    <label for="inputCalories">Calories</label>
    <input type="number" class="form-control" id="inputCalories" placeholder="Calories" name="calories" required>
  </div>

  <div class="form-group">
    <label for="inputProtein">Protein</label>
    <input type="number" class="form-control" id="inputProtein" placeholder="Protein" name="protein" required>
  </div>

  <div class="form-group">
    <label for="inputFat">Fat</label>
    <input type="number" class="form-control" id="inputFat" placeholder="Fat" name="fat" required>
  </div>

  <div class="form-group">
    <label for="inputCarbs">Carbs</label>
    <input type="number" class="form-control" id="inputCarbs" placeholder="Carbs" name="carbs" required>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>

	</div>


	<form class="navbar-form navbar-left" role="search" method="post" action="/search">
  	<div class="form-group">
    <input type="text" class="form-control" placeholder="Search" name="name">
  	</div>
  	<button type="submit" class="btn btn-success">Search</button>
  	<button type="submit" class="btn btn-danger" formmethod="post" formaction="/delete">Delete</button>

	</form>

	<form action="/deleteAll" method="post" target="_blank">
	<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete All</button>
	</form>



	<br><br>
    <a href="/food" class="btn btn-info" role="button">Show All</a>
  

	<div class="col-sm-4"></div>
	</div>
	</div>


	<!-- Latest version of jQuery-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Latest BOOTSTRAP compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	</body>
</html>
