<!DOCTYPE html>
<html>
	<head>
		<!-- Latest BOOTSTRAP compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	</head>

	<body style="background-image: url(assets/images/fruit.jpg);">

	<div class="container-fluid">

	
	
	<div class="row">
	<div class="col-sm-4"></div>

	<div class="col-sm-4">
	<form action="/food" method="post" target="_blank">
	  Name: <input type="text" name="name" required><br>
	  Calories: <input type="number" name="calories" required><br>
	  Protein: <input type="number" name="protein" required><br>
	  Fat: <input type="number" name="fat" required><br>
	  Carbs: <input type="number" name="carbs" required><br>
	  <input type="submit" value="Submit">
	</form>

	<p>Click on the submit button, and the input will be sent to a page on the server called "http://localhost:3002/food".</p>
	</div>

	<div class="col-sm-4"></div>
	</div>
	</div>


	<!-- Latest BOOTSTRAP compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	</body>
</html>
